<!-- contains partials -->

<header>
    Page Header
    <ul>
        <!-- locasl.user & user both are same thing but to avoid var not found we are writing this -->
        <% if(locals.user) { %>
            <li><% user.name %></li>
            <li>
                <a href="/users/sign-out">Sign Out</a>
            </li>
        <% }else{%>
            <li>
                <a href="/users/sign-in">Sign In</a>
            </li>
            <li>
                <a href="/users/sign-up">Sign Up</a>
            </li>
        <% } %>
    </ul>
</header>