#home-container
{
    display: flex;
    justify-content: space-between;
    #feed-posts
    {
        padding: 10px;
        width: 70%;
    }

    #user-friends
    {
        width: 30%;
        padding: 10px;
        border-left: 2px solid gray;
        height: 100%;
    }
}